.App {
    text-align: center;
}

.section-one {
    display: flex;
    justify-content: center;
}

.phone__container {
    padding: 3rem;
}

.tv__container {
    padding: 3rem;
}

.btn__container {
    display: flex;
}

.btn__container > input {
    width: 3rem;
    text-align: center;
}

.btn__container > button {
    width: 15rem;
}
